.about-banner {
  background: #000 url("../img/redbarn-new-road.jpg") no-repeat center -300px;
  min-height: 300px;
  .callto-content {
    padding: 0 20px;
  }
  .callto-content.inside-xxl {
    margin-left: 0;
    @media screen and (min-width: $screen-md) {
      margin-left: auto;
      width: 1660px;
    }
  }
  @media screen and (min-width: $screen-md) {
    min-height: 500px;
  }
  padding-top: 80px;
}

.team-buffer {
  padding-top: 0;
  //margin-top: -60px;
  > div {
    align-items: flex-start;
  }

  .forty {
    @media screen and (min-width: $screen-md) {
      margin-top: 30px !important;
    }
  }
}

.about-page {
  .slick-slider {
    overflow: hidden;
  }
  .slick-slide {
    padding-bottom: 165px;
    > div {
      padding: 20px;
    }
  }
  .slick-slide.slick-active {
    left: 0;
    .animateThis {
      transform: translateY(40px);
      .animateThat {
        transform: translate(-20px, -20px);
      }
    }
  }
  .slick-prev,
  .slick-next {
    left: 50%;
    right: 50%;
    margin: 0;
    width: 50px;
  }

  .slick-prev {
    margin-left: -60px;
  }

  .p-lot {
    padding-bottom: 40px;
    h2 {
      color: $red;
      line-height: 1;
      margin-top: 40px;
    }
    h2 {
      font-size: 1.4em;
      @media screen and (min-width: $screen-md) {
        font-size: 2em;
      }
    }

    .image-padding {
      padding: 30px;
    }
    .featured-thumbnail {
      background: url("../img/stripes-red-right-bottom.png") no-repeat right
        bottom;
      //padding: 20px;
    }
    a.button:link,
    a.button:active,
    a.button:visited {
      border-color: $red;
    }
    h2 {
      margin-bottom: 10px;
    }
  }

  .the-trigger.inside-xxl {
    overflow: hidden;
    padding: 0;
  }

  .team-padding {
    margin-top: 30px;
  }

  .p-lot.team-buffer {
    .featured-thumbnail {
      padding-right: 0;
      .animateThat {
        position: relative;
      }
    }
  }

  .team-grid {
    grid-gap: 60px 20px;
    a.button:hover {
      background: $red;
    }
    h2.h1 {
      margin-top: 0;
      color: #fff;
      span {
        color: $red;
        font-style: italic;
      }
    }
    .animateThis {
      position: relative;
      right: -30px;
      top: 30px;
      .animateThat {
        position: relative;
        right: 30px;
        top: -40px;
        left: auto;
      }
    }
    article {
      position: relative;
      padding-bottom: 60px;
      .buffer {
        position: absolute;
        bottom: 5px;
        width: 100%;
        padding: 0 40px 0 0;
        box-sizing: border-box;
      }
    }
  }
  .inside-xxl.testimonials-fix {
    padding: 0;
    margin-top: -80px;
    article {
      padding: 10px;
      box-sizing: border-box;
      background: $gray;
      position: relative;
      .message-body {
        padding-left: 60px;
      }
      .message-body::before {
        content: "\201C";
        font-family: $bebas;
        font-size: 6em;
        top: -20px;
        opacity: 0.6;
        position: absolute;
        top: -25px;
        left: 15px;
      }
      cite {
        position: absolute;
        margin-top: 30px;
        margin-left: -50px;
      }
    }
  }
  .testimonials {
    padding-bottom: 160px;
  }
}

.jobtitle {
  font-style: italic;
  margin-top: 0;

  margin-bottom: 0;
  min-height: 38px;
}
.jobdescrip {
  margin-top: 0;
  margin-bottom: 25px;
}

.blogpost {
  .jobtitle {
    margin-top: -30px;
  }
}

.relief-link {
  a {
    transition: color 0.4s ease;
    h3 {
      color: #fff;
    }
  }
  a:link,
  a:active,
  a:visited {
    color: #fff;
  }
  a:hover {
    color: $red;
  }
}

.relief-team {
  background: $green url("../img/topography-vector-white.png") no-repeat center
    center;
  min-height: 250px;
  text-align: center;
}
