.about-banner {
  background: #000 url("../img/redbarnparkinglot.jpg") no-repeat center;
  min-height: 300px;
  .callto-content {
    padding: 0 20px;
  }
  .callto-content.inside-xxl {
    margin-left: 0;
    @media screen and (min-width: $screen-md) {
      margin-left: auto;
      width: 1660px;
    }
  }
  @media screen and (min-width: $screen-md) {
    min-height: 500px;
  }
  padding-top: 80px;
}

.team-buffer {
  padding-top: 0;
  margin-top: -60px;
  > div {
    align-items: flex-start;
  }

  .forty {
    @media screen and (min-width: $screen-md) {
      margin-top: 30px !important;
    }
  }
}

.about-page {
  .p-lot {
    padding-bottom: 160px;
    h2 {
      color: $red;
      line-height: 1;
      margin-top: 40px;
    }
    .image-padding {
      padding: 30px;
    }
    .featured-thumbnail {
      background: url("../img/stripes-red-opt.png") no-repeat center center;
      //padding: 20px;
    }
    a.button:link,
    a.button:active,
    a.button:visited {
      border-color: $red;
    }
    h2 {
      margin-bottom: 10px;
    }
    .jobtitle {
      font-style: italic;
      margin-top: 0;
      margin-bottom: 10px;
      min-height: 38px;
    }
    .jobdescrip {
      margin-top: 10px;
    }
  }
  .slick-slide {
    > div {
      padding: 20px;
    }
  }
  .slick-slide.slick-active {
    left: 0;
    .animateThis {
      transform: translateY(40px);
      .animateThat {
        transform: translate(-20px, -20px);
      }
    }
  }
  .slick-prev,
  .slick-next {
    left: 50%;
    right: 50%;
    margin: 0;
    width: 50px;
  }

  .slick-prev {
    margin-left: -60px;
  }
  .the-trigger.inside-xxl {
    overflow: hidden;
    padding: 0;
  }
}
