$mont: "Montserrat", sans-serif;
$hind: "Hind", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=Montserrat:ital,wght@0,600;0,700;1,600;1,700&display=swap");

body {
  font-family: $hind;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

nav {
  font-family: $hind;
}

h1,
h2,
h3 {
  font-family: $mont;
  font-weight: 700;
}

h1 {
  font-size: 2.2em;
  @media screen and (min-width: $screen-md) {
    font-size: 3.4em;
  }
}

h2.h1 {
  font-size: 2.2em;
  @media screen and (min-width: $screen-md) {
    font-size: 2.6em;
  }
}

h2 {
  font-size: 1.8em;
  @media screen and (min-width: $screen-md) {
    font-size: 2.4em;
  }
}

h3 {
  font-size: 1.3em;
  @media screen and (min-width: $screen-md) {
    font-size: 1.6em;
  }
}

h4 {
  font-size: 1.2em;
  @media screen and (min-width: $screen-md) {
    font-size: 1.4em;
  }
}

h5 {
  font-size: 1em;
}
