// Footer Styles

footer.footer {
  background: #000;
  color: #fff;
  h4 {
    margin-top: 0;
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          text-decoration: none;
          transition: color 0.3s ease;
        }
        a:link,
        a:active,
        a:visited {
          color: #fff;
        }
        a:hover {
          color: $gray;
        }
      }
    }
  }
  .form-group {
    margin-bottom: 0;
    input {
      box-sizing: border-box;
    }
    textarea {
      min-height: 80px;
      box-sizing: border-box;
    }
  }
  .form-group.name,
  .form-group.email {
    label {
      display: none;
    }
  }
}

footer.section {
  padding-top: 20px;
}
