.video-contain {
  position: absolute;
  width: 100%;
  height: 100vh;
  &__gradient {
    position: absolute;
    width: 100%;
    height: 500px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#003333+0,003333+100&0.6+0,0+100 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 51, 51, 0.6) 0%,
      rgba(0, 51, 51, 0) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 51, 51, 0.6) 0%,
      rgba(0, 51, 51, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 51, 51, 0.6) 0%,
      rgba(0, 51, 51, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99003333', endColorstr='#00003333',GradientType=0 ); /* IE6-9 */
  }
}
video,
.videoImage {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.the-rest {
  position: relative;
  z-index: 10;
  .callto {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
}
.callto-content.home-callto {
  @media screen and (min-width: $screen-md) {
    max-width: 1200px;
  }
}
.callto-content {
  padding: 0 20px;
  @media screen and (min-width: $screen-md) {
    padding: 0 60px;
  }
  text-shadow: 2px 2px 4px #262626;
  font-size: 1em;
  @media screen and (min-width: $screen-md) {
    font-size: 1.2em;
  }
  h1 {
    color: #fff;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 20px;
    span {
      font-style: italic;
      color: $red;
    }
  }
  h3 {
    color: $red;
    margin-bottom: 20px;
  }
  p {
    @media screen and (min-width: $screen-sm) {
      max-width: 50%;
    }
  }

  .button-container {
    text-align: center;
    width: 205px;
    margin-top: 50px;
  }
  a {
    text-decoration: none;
    transition: background 0.4s ease;
    background: rgba($color: $red, $alpha: 1);
  }
  a.button:link,
  a.button:active,
  a.button:visited {
    border-color: $red;
    //background: rgba($color: $red, $alpha: 0);
    color: #fff;
  }
  a.button:hover {
    background: rgba($color: $red, $alpha: 1);
  }
  a.button:hover::before {
    left: -32px;
  }
}

h2.accent,
h3.accent {
  text-transform: uppercase;
  position: relative;
  padding-left: 33px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2.accent::before,
h3.accent::before {
  content: "";
  width: 25px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
}

.the-rest {
  overflow: hidden;
}

.p-lot {
  color: #fff;
  position: relative;
  padding-bottom: 300px;
  .gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
  }

  .flex-md {
    //display: flex;
    flex-wrap: wrap;
    .forty,
    .sixty {
      @media screen and (max-width: $screen-md) {
        flex: 0 0 100%;
      }
    }
    .sixty {
      order: 1;
      @media screen and (min-width: $screen-md) {
        order: 0;
      }
    }
    .forty {
      margin-top: 10px;
      order: 2;
      @media screen and (min-width: $screen-md) {
        order: 0;
      }
    }
  }
  .forty {
    padding: 0 20px;
  }
  .fudge {
    position: relative;
    margin-top: 20px;
    @media screen and (min-width: $screen-md) {
      margin-top: -180px;
    }
  }
  h2 {
    color: $teal;
  }

  .featured-thumbnail {
    background: url("../img/stripes-blue-left-bottom.png") no-repeat left bottom;

    padding-right: 30px;
    .animateThat {
      top: -20px;
      left: -20px;
    }
  }

  a {
    text-decoration: none;
    transition: background 0.4s ease;
  }
  a.button:link,
  a.button:active,
  a.button:visited {
    color: white;
    border-color: $teal;
    background: rgba($color: $teal, $alpha: 0);
  }
  a.button:hover {
    background: rgba($color: $teal, $alpha: 1);
  }
  a.button:hover::before {
    left: -32px;
  }
}

.callto {
  margin-bottom: -80px;
}

.reliefmap {
  color: #fff;

  padding-top: 20px;
  padding-bottom: 200px;
  text-shadow: 2px 2px 4px #262626;
  span {
    color: $red;
  }
  .what-we-do-text {
    margin-top: -106px;
    .forty {
      position: relative;

      left: 30px;
      padding-right: 0;
    }
  }

  .forty {
    padding: 0 20px;
    @media screen and (max-width: $screen-md) {
      margin-top: 100px;
    }
  }

  h2.h1 {
    color: #fff;
    line-height: 1;
    margin-top: 40px;
    span {
      font-style: italic;
    }
  }

  a {
    text-decoration: none;
    transition: background 0.4s ease;
  }
  a.button:link,
  a.button:active,
  a.button:visited {
    color: white;
  }

  a.button:hover::before {
    left: -32px;
  }
}

.flex-xs {
  a {
    @media screen and (max-width: $screen-xs) {
      margin-top: 10px;
    }
  }
}

.slick-list {
  overflow: visible !important;
  //margin: 0 -10px;
}

.slick-slide {
  padding-bottom: 100px;

  .animateThis {
    transform: translateY(0);
    transition: 0.6s ease transform;
    .animateThat {
      transform: translate(0, 0);
      transition: 0.6s ease transform;
    }
  }
  .flex-md {
    padding: 0 40px;
    @media screen and (min-width: $screen-lg) {
      padding: 0 100px;
    }
  }
}

.slick-slide.slick-active {
  left: 0;
  .animateThis {
    transform: translateY(80px);
    .animateThat {
      transform: translate(-40px, -50px);
    }
  }
}

.slick-next,
.slick-prev {
  top: auto;
  transform: translate(auto);
  bottom: 5px;
  @media screen and (min-width: $screen-md) {
    bottom: 0;
  }
  z-index: 1000;
  width: 50px;
  height: 50px;
}

.slick-next {
  right: 40px;
}

.slick-prev {
  @media screen and (min-width: $screen-md) {
    left: 60%;
  }
  margin-left: 40px;
}

.slick-next::before,
.slick-prev::before {
  font-size: 50px;
  color: $red;
}

.sec-green {
  background: $green url("../img/topography-vector-white.png") no-repeat center
    center;
  .featured-thumbnail {
    background: url("../img/stripes-red-right-bottom.png") no-repeat right
      bottom;
    overflow: visible !important;
    padding-top: 36px;
    padding-left: 30px;
    .animateThat {
      top: -20px;
      left: -20px;
    }
  }
  h2.accent {
    color: $red;
  }
  h1 {
    span {
      color: $red;
    }
  }
  h3 {
    color: $red;
  }
  a.button:link,
  a.button:active,
  a.button:visited {
    border-color: $red;
    background: rgba($color: $red, $alpha: 0);
  }
  a.button:hover {
    background: rgba($color: $red, $alpha: 1);
  }
}

.sec-black {
  background: #000 url("../img/topography-vector-white.png") repeat center
    center;
  h2.accent {
    color: $teal;
  }
  h2.h1 {
    span {
      color: $teal;
    }
  }
  h3 {
    color: $teal;
  }
  a.button:link,
  a.button:active,
  a.button:visited {
    border-color: $teal;
    background: rgba($color: $teal, $alpha: 0);
  }
  a.button:hover {
    background: rgba($color: $teal, $alpha: 1);
  }
}

.projects {
  .flex-md.relative {
    .forty {
      @media screen and (min-width: $screen-md) {
        position: relative;
        margin-bottom: 0;
        padding-top: 0;
        right: 10px;
        top: 9px;
      }
    }
  }
  .flex-md {
    position: relative;
    .accent {
      position: relative;
      z-index: 10;
    }
    .featured-thumbnail {
      width: 100%;
      .gatsby-image-wrapper {
        background: #000;
        img {
          opacity: 0.4 !important;
        }
      }
    }
    .featured-thumbnail {
      background: url("../img/stripes-blue-left-bottom.png") no-repeat left
        bottom;

      .animateThat {
        position: relative;
        top: -5px;
        left: 5px;
      }
    }
    .forty {
      @media screen and (min-width: $screen-md) {
        position: absolute;
        width: 40%;
        right: 40px;
        padding-top: 50px;
      }
    }
  }
  .gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
  }
}

.extra-padd {
  padding-left: 40px;
  padding-right: 40px;
}
