// single post scss

.blogpost {
  .blog-header {
    padding-bottom: 40px;
    @media screen and (min-width: $screen-md) {
      padding-bottom: 0;
    }
  }
  h1 {
    line-height: 1;
    span {
      color: $red;
      font-style: italic;
    }
  }
  overflow: hidden;

  .featured-thumbnail {
    background: url("../img/stripes-red-left-bottom.png") no-repeat left bottom;
    margin-bottom: 50px;
    padding-top: 36px;
    padding-right: 30px;
    @media screen and (min-width: $screen-md) {
      float: right;
      width: 40%;
      max-width: 800px;
      margin-left: 80px;
      margin-bottom: 20px;
      margin-right: 40px;
    }
    .animateThat {
      position: relative;
      top: -36px;
      left: 26px;
    }
  }
}

.blogpost.green {
  h1 {
    span {
      color: $teal;
    }
  }
  .featured-thumbnail {
    background: url("../img/stripes-blue-new.png") no-repeat left bottom;
  }
}
