.services-banner {
  background: #000 url("../img/redbarn-new-road.jpg") no-repeat center -300px;
  min-height: 300px;
  .callto-content {
    padding: 0 20px;
  }
  .callto-content.inside-xxl {
    margin-left: 0;
    @media screen and (min-width: $screen-md) {
      margin-left: auto;
      width: 1660px;
    }
  }
  @media screen and (min-width: $screen-md) {
    min-height: 500px;
  }
  padding-top: 80px;
}

.services-page.p-lot {
  padding-bottom: 0;
}

.services-section {
  .featured-thumbnail {
    .animateThat {
      position: relative;
      left: 10px;
      top: -20px;
    }
  }
  h2.h1 {
    color: #fff;
    line-height: 1;
    span {
      color: $teal;
      font-style: italic;
    }
  }
}

.services-section {
  padding-top: 40px;
  background: $green url("../img/topography-vector-white.png") top center;
  .what-loop {
    .featured-thumbnail {
      position: relative;
      left: -20px;
      background-position: left bottom;
    }
  }
}
