@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@import "colors";
@import "grid";
@import "fonts";
@import "header";
@import "home";
@import "footer";
@import "whatwedo";
@import "projects";
@import "post";

body {
  padding: 0;
  margin: 0;
}

.box-shadow {
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}
